    
body {
    background: rgb(58, 61, 100);
}

.search-container {
    background:skyblue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    font-size: 200%;
    text-align: center;
}

.result-container {
    background:  skyblue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.btn{
    background:  rgb(58, 61, 100);
}